<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Memorable_places_playTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>727B28FF1C3E074F004291A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727B29131C3E074F004291A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727B291E1C3E074F004291A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
