<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blog_Reader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7230EBDC1C3E2C2500419C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7230EBF51C3E2C2500419C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7230EC001C3E2C2500419C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
